body{
    background-color: aliceblue;
}
.deliveryBox{
    color: darkblue;
    width: 40rem;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 0 6px 0 rgba(0,115,230,0.3);
}
.DeliveryImg{
    width: 10.5rem;
    height: 10.5rem;
    border-radius: 50%;
    border: 1px solid green;
}

.SideBySide{
    display:flex;
    padding: 5px;
}

.mobile{
    margin-right: 20px;
}

.deliverTxt{
    margin-left: 10px;
}

.cusTxt{
    float: left;
}

.CartBox{
    color: black;
    width: 60rem;
    height: auto;
    border-radius: 2px;
    box-shadow: 0 0 6px 0 rgba(0,115,230,0.3);
}

.CardsBox{
    float: left;
    display: flex;
}

.CardSpacing{
    margin-top: 80px;
    margin-bottom: 15px;
}

.ButtonStyling{
    float: left;
    padding: 20px;
}

.cartBtn{
    margin-right: 10px;
}

.signupBox{
    align-content: center;
    margin-top: 20px;
}